main {
    Font-Family: 'Source Sans Pro', Sans-Serif;
    Font-Size: 16px;
    background-color: #CAD6B6;
}
h2  {
    Font-Family: 'Playfair Display', Serif;
    Font-Size: 3.75rem; 
}
header {
    width: 80%;
}
header nav {
    display: inline-block;
    position: relative;
    left: 60%;
}
header nav a {
    padding: 3rem;
    font-size: 3rem;
}
.hero {
    display: flex;
    width: 100%;
    height: auto;
}
.hero-txt {  
    float: left;
    width: 50%;
    height: auto;
}
.hero-img {
   float: right;
   width: 50%;
   height: auto;
}
.hero-img img {
   width: 50%;
   height: auto;
   padding: 12rem;
   border-radius: 50%;
}
.hero-txt h1  {
   width: 60%;
   height: auto;
   padding: 6rem;
   margin-top: 8rem;
   margin-left: 8rem;
   font-size: 60px;
}
.hero-txt h2 {
   width: 60%;
   height: auto;
   padding-left: 6rem;
   margin-left: 8rem;
   font-size: 40px;
}
.about-container {
    display: flex;
    width: 100%;
    height: auto;
}
.about-img {
    float: left;
    width: 50%;
    height: auto;
}
.about-img img {
    width: 50%;
   height: auto;
   padding: 12rem;
   border-radius: 50%;
}
.about-txt{
    float: left;
    width: 50%;
    height: auto;
}
.about-txt p {
    width: 70%;
    height: auto;
    padding-top: 10rem;
    padding-right: 10rem;
    font-size: 2rem;
}
.skills-containter {
   display: flex;
   justify-content: center;
}
.skills {
    display: inline-block;  
}
.skill-img {
    width: 5.5rem;
    height: 5.5rem;
    padding-right: 10rem;
}

.project-container {
   display: flex;
   width: 100%;
   height: auto;
}
.project-1, .project-2, .project-3 {
    justify-content: center;
    display: flex;
} 
.project-1 img, .project-2 img, .project-3 img {
    width: 90%;
    height: 100%;
}
footer {
    width: 80%;
}    
footer nav {
    display: inline-block;
    position: relative;
    left: 24%;
}
footer nav a {
    padding-right: 18rem;
    font-size: 1.5rem;
}
.contact {
   display: flex;
   justify-content: center;
}
